<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH Heroes</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1> Héroes y heroínas de la informática
        </h1>
    </header>
    <h2>
        Bienvenidos a nuestra pagina!
        <h2>Aquí encontrarar información acerca de figuras historicas y relevantes dentro del mundo de la informática:
        </h2>
    </h2>
    <h3>
        <li><a href="/babbage">Charles Babbage</a></li>
        <li><a href="/berners-lee"> Tim Berners-Lee</a></li>
        <li><a href="/clarke">Joan Clarke</a></li>
        <li><a href="/hamilton">Margaret Hamilton</a></li>
        <li><a href="/hopper">Grace Murray Hopper</a></li>
        <li><a href="/lovelace">Ada Lovelace</a></li>
        <li><a href="/turing">Alan Turing</a></li>
    </h3>
</body>
</html>